h1{
    background-color: rgba(200, 231, 21, 0.486);
    margin: 0 auto;
    text-align: center;
    border: 20px;
    border-radius: 20px;
    border-color: solid black;
    padding: 20px;
}
div{
    background: #000;
}